.root {
  -fx-background-image: url("bg.png");
  -fx-background-size: 100% 100%;
  -fx-background-position: center center;
}

#panel {
	-fx-background-image: url("menu.jpg");
	-fx-background-size: cover, auto;
}

#bg {
	-fx-background-color: #000000;
}

#place {
	-fx-background-color: #000000;
}